@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@600;700&display=swap");

html {
    --duration: 1s;
    --ease-slider: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: "Noto Serif Thai", Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px 20px;
    background-color: var(--body-bg, #fff);
    -webkit-tap-highlight-color: transparent;
    transition: var(--duration) background-color var(--ease-slider);
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-family: "Noto Serif Thai", Arial, sans-serif;
}

h2 {
    font-size: 1.8em;
    font-weight: 600;
    margin: 20px 0;
}

#translator-select-container {
    margin: 20px auto;
}
.translator-mods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.game-card {
    /* position: relative; */
    width: 180px;
    height: 270px;
    padding: 7px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.game-card {
    position: relative;
    overflow: hidden;
}

.status-message {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 0.9em;
    border-radius: 4px;
    z-index: 2;
}

#install-mod-btn:disabled,
#install-mod-btn:disabled:hover {
    cursor: not-allowed;
    background: linear-gradient(
      100deg,
      #bfbfbf00 1%,
      #bfbfbf 2.5%,
      #bfbfbf80 5.7%,
      #bfbfbf1a 93%,
      #bfbfbfb4 95%,
      #bfbfbf00 98%
    ),
    linear-gradient(182deg, #bfbfbf00, #bfbfbf4d 8%, #bfbfbf00 15%);
}

.game-card.selected {
    border-color: #0078d4;
    transform: scale(1.05);
}

.game-card img {
    width: 100%;
    border-radius: 4px;
}

.game-name {
    font-weight: 700;
    margin: 10px 0;
}

.translator-name {
    font-size: 0.9em;
    color: #666;
}

#sticky-container {
    display: inline-flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    width: 98%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#progress-message {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    background: linear-gradient(
      100deg,
      #ffafd400 1%,
      #ffafd4 2.5%,
      #ffafd480 5.7%,
      #ffafd41a 93%,
      #ffafd4b4 95%,
      #ffafd400 98%
    ),
    linear-gradient(182deg, #ffafd400, #ffafd44d 8%, #ffafd400 15%);
}

#install-mod-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    background: linear-gradient(
      100deg,
      #85b9ff00 1%,
      #85b9ff 2.5%,
      #85b9ff80 5.7%,
      #85b9ff1a 93%,
      #85b9ffb4 95%,
      #85b9ff00 98%
    ),
    linear-gradient(182deg, #85b9ff00, #85b9ff4d 8%, #85b9ff00 15%);
}

#install-mod-btn:hover {
    background: linear-gradient(
      100deg,
      #afd7ff00 1%,
      #afd7ff 2.5%,
      #afd7ff80 5.7%,
      #afd7ff1a 93%,
      #afd7ffb4 95%,
      #afd7ff00 98%
    ),
    linear-gradient(182deg, #afd7ff00, #afd7ff4d 8%, #afd7ff00 15%);
}

.platform-label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    margin-right: 10px;
    border-radius: 4px;
    display: none;
    z-index: 10;
}

.game-card.selected .platform-label {
    display: block;
}

[popover]::backdrop {
    background: rgb(0 0 0 / 60%);
}

:popover-open {
    background-color: var(--body-bg, #fff);
    border-radius: 5px;
    border: none;
    padding: 20px;
    max-width: 680px;
}

[popover] > button {
    float: right;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    border: none;
}

#donate img {
    margin: 10px;
}

footer {
    margin-top: 20px;
}

/* Responsive Styling */

/* Medium Screens */
@media (max-width: 1024px) {
    .game-card {
        /* width:150px; */
        /* height:225px; */
    }
}

/* Small Screens */
@media (max-width: 768px) {
    .game-card {
        /* width:120px; */
        /* height:180px; */
    }

    #install-mod-btn {
        padding: 8px 15px;
    }
}

/* Extra Small Screens */
@media (max-width: 480px) {
    .game-card {
        /* width:100px; */
        /* height:150px; */
    }

    #install-mod-btn {
        padding: 6px 10px;
    }
}

#browser-support-message {
    color: green;
}

.mod-stardewvalley h1,
.mod-stardewvalley #donate,
.mod-stardewvalley footer {
    color: #e0a000;
}
.mod-stardewvalley #browser-support-message {
    color: #2be059;
}

.mod-hades h1,
.mod-hades #donate,
.mod-hades footer {
    color: #fff;
    text-shadow: 2px 0 #bf1512;
}
.mod-hades #browser-support-message {
    color: #2be059;
}

.mod-davethediver h1,
.mod-davethediver #donate,
.mod-davethediver footer {
    color: #ffb500;
    text-shadow: 2px 0 #07a9cc;
}
.mod-davethediver #browser-support-message {
    color: #02829d;
}

.mod-snufkinmelodyofmoominvalley h1,
.mod-snufkinmelodyofmoominvalley #donate,
.mod-snufkinmelodyofmoominvalley footer {
    color: #fff;
}
.mod-snufkinmelodyofmoominvalley #browser-support-message {
    color: #2be059;
}

.mod-deathsdoor h1,
.mod-deathsdoor #donate,
.mod-deathsdoor footer {
    color: #fff;
}
.mod-deathsdoor #browser-support-message {
    color: #2be059;
}

.mod-overcooked2 h1,
.mod-overcooked2 #donate,
.mod-overcooked2 footer {
    color: #fff;
    text-shadow: 2px 0 #9f3122;
}
.mod-overcooked2 #browser-support-message {
    color: #2be059;
}

.mod-lumaisland h1,
.mod-lumaisland #donate,
.mod-lumaisland footer {
    color: #e9e7e3;
}

.mod-pharaohanewera h1,
.mod-pharaohanewera #donate,
.mod-pharaohanewera footer {
    color: #8d2e07;
}
