@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*-- VARIABLES CSS --*/
/*Colores*/
:root{
    /*
    -light
    #1d1d1f
    #86868b
    #fbfbfd
    #fff
    --first-color: #fbe3bd;
    --second-color: #fbe3bd;
    --third-color: #fbe3bd;
    */
    --accent-color: #5a2c0a;
    --text-color: #5a2c0a;
    --bg-color: #fdddac;
    --card-color: #fbe3bd;
    --box-shadow: 0 .5rem 1rem #f7c887;
    --footer-background: #00acc1;
    --footer-color: #fff;
}

/*Colores for dark mode*/
@media (prefers-color-scheme: dark){
    /*
    -dark
    #ffff
    #98989f
    #000
    #1c1c1e
    */
    :root{
        --accent-color: #fff;
        --text-color: #fff;
        --bg-color: #000;
        --card-color: rgba(255, 255, 255, 0.25);
        --box-shadow: 0 .5rem 1rem #ffffff80;
        --footer-background: #fff;
        --footer-color: #333;
    }
    body{
        background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    }
    header::after{
        background: none !important;
    }
    .parallax>use:nth-child(1){
        fill: rgba(255,255,255,0.7);
    }
    .parallax>use:nth-child(2){
        fill: rgba(255,255,255,0.5);
    }
    .parallax>use:nth-child(3){
        fill: rgba(255,255,255,0.3);
    }
    .parallax>use:nth-child(4){
        fill: #fff;
    }
}

/*Tipografia responsive*/
:root{
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*Scrollbar*/
/*::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
    background-color: #F90;	
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}*/

/*-- BASE --*/
*,::after,::before{
    box-sizing: border-box;
}
body{
    margin: 0; /*2rem 0 0 0;*/
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--body-font);
}

/*-- NAV --*/
section{
    width: 100%;
    height: 350px;
}
.header{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 350px;
    text-align: center;
    /*background-color: #38a2a4;*/
    color: #fff;
}
.latest_news {
    margin: 1rem 0;
    width: 350px;
    border: 5px solid #804000;
}
.navigation__title a {
    color: #fff;
}
.navigation__title h1 {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.17em;
}
.navigation__title .txt-donate {
    margin: 0;
    float: right;
    padding: 3px 11px;
    background: #4caf50;
    border-radius: 25px;
    margin: -3px;
}
.navigation{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 44px;
    background-color: orange;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .1) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .1) 50%,rgba(255, 255, 255, .1) 75%,transparent 75%,transparent);
    color: #fff;
    padding: 8px 11px;
    transition: all 0.5s ease;
    transform: translateY(-100%);
    z-index: 9999;
}
.navigation--relative{
    position: relative;
    top: 0px;
    transform: translateY(0%);
}
.navigation.is-fixed{
    position: fixed;
    width: 100%;
    transform: translateY(0%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}
.navigation.is-fixed .navigation__title {
    margin: 3px 0;
}
.navigation.is-fixed .navigation__title .custom-logo {
    width: 70px;
    height: 70px;
    background: url(../img/puffer.png?v=1) no-repeat;
    background-size: 70px;
    position: absolute;
    left: 15px;
    top: 10px;
}

h1{
    font-size: var(--h1-font-size);
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

/*-- LAYAOUT --*/
.main,
.mobile,
.adsense{
    padding: 2rem 0;
}
.ginger-island{
    padding: 9rem 0 2rem 0;
    text-align: center;
}
.bd-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

/*-- PAGES --*/
.title-shop{
    position: relative;
    margin: 0 2.5rem;
}
.title-shop::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: var(--text-color);
    margin-left: .25rem;
}

/*-- COMPONENT --*/
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
}
article{
    background-color: var(--card-color);
}
.card__img{
    width: 180px;
    height: auto;
    /*padding: 3rem 0;*/
    padding: 0 0 1rem;
    transition: .5s;
}
.card__name{
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--text-color);
    /*color: #fff;*/
    color: #e0a100;
    font-weight: 700;
    transition: .5s;
}
.card__icon{
    font-size: 1.5rem;
    color: var(--text-color);
}
.card__icon:hover{
    color: var(--accent-color);
}
.card__precis{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}
.card__preci{
    display: block;
    text-align: center;
}
.card__preci--before{
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
}
.card__preci--now{
    font-size: var(--h3-font-size);
    font-weight: 700;
}
/*Move left*/
.card:hover{
    box-shadow: var(--box-shadow);
}
.card:hover .card__name{
    left: 0;
}
.card:hover .card__img{
    /*transform: rotate(30deg);*/
    margin-left: 3.5rem;
}
.card:hover .card__precis{
    margin-left: 3.5rem;
    /*padding: 0 1.5rem;*/
    padding: 0 0.5rem;
}

ion-icon{
    pointer-events: none;
}

/*-- Simple CSS Waves | Mobile & Full width --*/
.waves{
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}
/*Animation*/
.parallax>use{
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax>use:nth-child(1){
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax>use:nth-child(2){
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3){
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax>use:nth-child(4){
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever{
    0%{
        transform: translate3d(-90px,0,0);
    }
    100%{
        transform: translate3d(85px,0,0);
    }
}

/*-- FOOTER --*/
.footer{
    position: relative;
    height: 15vh;
    text-align: center;
    background-color: var(--footer-background);
}
/*Flexbox for containers*/
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer p{
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--footer-color);
}

/*Shrinking for mobile*/
@media (max-width: 768px){
    header{
        height: 64px;  /* 48 + 16px */
    }
    header::before{
        top: 32px; /* shadow is at bottom of element, so at 32 + 16 = 48px */
    }
    header>div{
        height: 48px;
        padding: 10px;
    }
    .waves{
        height: 40px;
        min-height: 40px;
    }
    .footer{
        height: 10vh;
    }
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px){
    body{
        /*margin: 3rem 0 0 0;*/
    }
    header{
        margin: 0 0 3rem 0;
    }
    .title-shop{
        margin: 0 5rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .card:hover .card__precis{
        padding: 0 1rem;
    }
}