@font-face {
    font-family: 'Maledpan';
    src: url('./maledpan-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Maledpan';
    src: url('./maledpan-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}