*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #fdfce5;
  color: #4a403a;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

article {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 800px;
  border-top: 3px solid #f9975d;
  border-bottom: 3px solid #f9975d;
  padding: 3rem 0;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 2rem;
  font-family: Georgia, serif;
}
header:after {
  content: "🐈";
  font-size: 10em;
  color: rgba(249, 151, 93, 0.25);
  position: absolute;
  z-index: -1;
  line-height: 0.75;
  top: 0;
}
header h1 {
  font-size: 1.5em;
  line-height: 1.25;
}
header h2 {
  margin-top: 0.25em;
  font-size: 0.75em;
  line-height: 1.375;
}
header h3 {
  margin-top: 2em;
  font-size: 0.875em;
  line-height: 1.25;
}

section {
  margin-top: 6rem;
  font-size: 1.25rem;
  font-family: Georgia, serif;
  line-height: 1.75;
}
section > * + * {
  margin-top: 1.5em;
}
section p:first-child {
  font-size: 1.375em;
  line-height: 1.125;
}

label {
    /* display: block; */
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
