@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #1a1a1a;
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}

.skills-bar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  min-width: 300px;
  list-style: none;
}

.skills-bar-container li {
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
  width: 100%;
}

.skills-bar-container li .progressbar-title {
  color: #fff;
}

.skills-bar-container li .progressbar-title h3 {
  display: inline-block;
}

.skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 5px;
}

.skills-bar-container li .bar-container {
  background-color: #555;
  border-radius: 5px;
  display: block;
  height: 5px;
  margin-top: 5px;
  position: relative;
  width: 100%;
}

.skills-bar-container li .bar-container .progressbar {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  border-radius: 5px;
  height: 100%;
  position: absolute;
}

.skills-bar-container li .bar-container #progress-sdv {
  animation-delay: 0.7s;
  animation-name: progress-sdv;
}

.skills-bar-container li .bar-container #progress-sve {
  animation-delay: 1.4s;
  animation-name: progress-sve;
}

.skills-bar-container li .bar-container #progress-pane {
  animation-delay: 2.1s;
  animation-name: progress-pane;
}

.skills-bar-container li .bar-container #progress-overcooked2 {
  animation-delay: 2.8s;
  animation-name: progress-overcooked2;
}

.skills-bar-container li .bar-container #progress-deathsdoor {
  animation-delay: 3.5s;
  animation-name: progress-deathsdoor;
}

.skills-bar-container li .bar-container #progress-hand {
  animation-delay: 4.2s;
  animation-name: progress-hand;
}

.skills-bar-container li .bar-container #progress-hades {
  animation-delay: 4.9s;
  animation-name: progress-hades;
}

.skills-bar-container li .bar-container #progress-eastward {
  animation-delay: 5.6s;
  animation-name: progress-eastward;
}

.skills-bar-container li .bar-container #progress-secret1 {
  animation-delay: 6.3s;
  animation-name: progress-secret1;
}

.skills-bar-container li .bar-container #progress-secret2 {
  animation-delay: 7.0s;
  animation-name: progress-secret2;
}

.progressblack {
  background-color: #000000;
}

.progressblue {
  background-color: #1199ff;
}

.progressbrown {
  background-color: #ad4600;
}

.progressgray {
  background-color: #7f7f7f;
}

.progressgreen {
  background-color: #27ae60;
}

.progressorange {
  background-color: #ffa200;
}

.progresspurple {
  background-color: #9b59b6;
}

.progressred {
  background-color: #c10b0b;
}

.progresswhite {
  background-color: #ffffff;
}

.progressyellow {
  background-color: #e0a100;
}

/* SECRET */
.progresssecret1 {
  background-color: #fbdbc500;
}

.progresssecret2 {
  background-color: #fdc05b00;
}

@keyframes progress-sdv {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-sve {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-pane {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-overcooked2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-deathsdoor {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}

@keyframes progress-hand {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

@keyframes progress-hades {
  0% {
    width: 0%;
  }
  100% {
    width: 17%;
  }
}

@keyframes progress-eastward {
  0% {
    width: 0%;
  }
  100% {
    width: 5%;
  }
}

@keyframes progress-secret1 {
  0% {
    width: 0%;
  }
  100% {
    width: 5%;
  }
}

@keyframes progress-secret2 {
  0% {
    width: 0%;
  }
  100% {
    width: 5%;
  }
}
