@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #1a1a1a;
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  background-image: url('../images/junispring.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
}

#content {
  position: absolute;
  top: 30px;
  width: 100%;
}

.skills-bar-container {
  width: 40%;
  min-width: 300px;
  list-style: none;
  margin: auto;
}

.skills-bar-container li {
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
  width: 100%;
}

.skills-bar-container li .progressbar-title {
  color: #fff;
}

.skills-bar-container li .progressbar-title h3 {
  display: inline-block;
   width: 85%;
}

.skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 5px;
}

.skills-bar-container li .bar-container {
  background-color: #555;
  border-radius: 5px;
  display: block;
  height: 5px;
  margin-top: 5px;
  position: relative;
  width: 100%;
}

.skills-bar-container li .bar-container .progressbar {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  border-radius: 5px;
  height: 100%;
  position: absolute;
}

.skills-bar-container li .bar-container #progress-sdv {
  animation-delay: 0.7s;
  animation-name: progress-sdv;
}

.skills-bar-container li .bar-container #progress-sdvalpha {
  animation-delay: 1.4s;
  animation-name: progress-sdvalpha;
}

.skills-bar-container li .bar-container #progress-smapiapp {
  animation-delay: 2.1s;
  animation-name: progress-smapiapp;
}

.skills-bar-container li .bar-container #progress-sdvandroid {
  animation-delay: 2.8s;
  animation-name: progress-sdvandroid;
}

.skills-bar-container li .bar-container #progress-sve {
  animation-delay: 3.5s;
  animation-name: progress-sve;
}

.skills-bar-container li .bar-container #progress-svebeta {
  animation-delay: 4.2s;
  animation-name: progress-svebeta;
}

.skills-bar-container li .bar-container #progress-pane {
  animation-delay: 4.9s;
  animation-name: progress-pane;
}

.skills-bar-container li .bar-container #progress-overcooked2 {
  animation-delay: 5.6s;
  animation-name: progress-overcooked2;
}

.skills-bar-container li .bar-container #progress-deathsdoor {
  animation-delay: 6.3s;
  animation-name: progress-deathsdoor;
}

.skills-bar-container li .bar-container #progress-secret2 {
  animation-delay: 7.0s;
  animation-name: progress-secret2;
}

.skills-bar-container li .bar-container #progress-hand {
  animation-delay: 7.7s;
  animation-name: progress-hand;
}

.skills-bar-container li .bar-container #progress-hades {
  animation-delay: 8.4s;
  animation-name: progress-hades;
}

.skills-bar-container li .bar-container #progress-eastward {
  animation-delay: 9.1s;
  animation-name: progress-eastward;
}

.skills-bar-container li .bar-container #progress-secret1 {
  animation-delay: 9.8s;
  animation-name: progress-secret1;
}

/* LEGACY */
.progressred {
  background-color: #c0392b;
}

.progressblue {
  background-color: #1199ff;
}

.progresspurple {
  background-color: #9b59b6;
}

.progressorange {
  background-color: #ffa500;
}

.progressgreen {
  background-color: #27ae60;
}

/* NEW COLOR */
.progressblack {
  background-color: #000000;
}

.progressblue {
  background-color: #1199ff;
}

.progressbluea {
  background-color: #2f5da9;
}

.progressbrown {
  background-color: #ad4600;
}

.progressgray {
  background-color: #7f7f7f;
}

.progressgreen {
  background-color: #27ae60;
}

.progressgreena {
  background-color: #25a259;
}

.progressorange {
  background-color: #ffa200;
}

.progresspurple {
  background-color: #9b59b6;
}

.progressred {
  background-color: #c10b0b;
}

.progresswhite {
  background-color: #ffffff;
}

.progressyellow {
  background-color: #e0a100;
}

.progressyellowa {
  background-color: #c29700;
}

/* SECRET */
.progresssecret1 {
  background-color: #fbdbc500;
}

.progresssecret2 {
  background-color: #fdc05b;
}

@keyframes progress-sdv {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-sdvalpha {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

@keyframes progress-smapiapp {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes progress-sdvandroid {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@keyframes progress-sve {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-svebeta {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-pane {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-overcooked2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-deathsdoor {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-secret2 {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes progress-hand {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

@keyframes progress-hades {
  0% {
    width: 0%;
  }
  100% {
    width: 17%;
  }
}

@keyframes progress-eastward {
  0% {
    width: 0%;
  }
  100% {
    width: 5%;
  }
}

@keyframes progress-secret1 {
  0% {
    width: 0%;
  }
  100% {
    width: 5%;
  }
}

/* COLLAPSE */
.collapsible {
  /* background-color: #777;
  color: white; */
  cursor: pointer;
  /* padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px; */
}

.active, .collapsible:hover {
  background-color: #555555a8;
  border-radius: 3px;
}

.detail {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border-radius: 3px;
}

.detail p {
  margin: 1em 0;
}
